{% extends 'base.html.twig' %}

{% block stylesheets %}
    
    <link rel='stylesheet' type='text/css' href='bundles/app/css/layout.css' />

<style>
    body { background: #ffffff; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}



{% block body %}
               
<div class='topbanner'>
	<div class='topbannerinner'>
    	<form action='#' method='post'>
        	<input type='text' name='search' class='searchfield' />
            <input type='submit' name='submit' value='go' class='seachbutton'/>
        </form>
        
        <a href='#'><img src='bundles/app/images/winkelwagenicon.jpg' alt='' border='0' class='iconwinkelwagen'/></a>
    </div>
</div>


<div class='container'>

<div class='menulinks'>
        {{ render(controller('AppBundle:LeftMenu:LeftMenu', {'myvar': 'een prachtige tekst'})) }}
        
</div>


<div class='inforechts' >
        {{ render(controller('AppBundle:Menu:showmenu', {'myvar': 'een prachtige tekst'})) }}

        
</div>



</div>
<div class='clearingrow'>&nbsp;</div>

<!-- aanbiedingen -->
    <div class='aanbiedingrow'>
        
    <div class='aanbiedingblok'>
        <img src='bundles/app/images/samsungtv.jpg' border='0' alt='tv' /><br />
        <div class='productname'>Samsung UE32J5200</div>
        <img src='bundles/app/images/sterren.jpg' border='0' alt='tv' /><br />
        <a href='#' class='viewallproducts'><b>></b>Bekijk alle televisies</a><br />
    </div>
        
        <div class='aanbiedingblok'>
        <img src='bundles/app/images/sonosplay.jpg' border='0' alt='tv' /><br />
        <div class='productname'>Sonos play</div>
        <img src='bundles/app/images/sterren.jpg' border='0' alt='tv' /><br />
        <a href='#' class='viewallproducts'><b>></b>Bekijk alle televisies</a><br />
        </div>

        <div class='aanbiedingblok'>
        <img src='bundles/app/images/samsungssd.jpg' border='0' alt='tv' /><br />
        <div class='productname'>Samsung ssd</div>
        <img src='bundles/app/images/sterren.jpg' border='0' alt='tv' /><br />
        <a href='#' class='viewallproducts'><b>></b>Bekijk alle televisies</a><br />
        </div>

        <div class='aanbiedingblok'>
            <a href='#'><img src='bundles/app/images/vaatwasser.jpg' border='0' alt='tv' /></a><br />
        <div><a href='#' class='productname'>Samsung UE32J5200</a></div>
        <img src='bundles/app/images/sterren.jpg' border='0' alt='tv' /><br />
        <a href='#' class='viewallproducts'><b> ></b> Bekijk alle televisies</a><br />
        </div>

    </div>
<div class='clearingrow'>&nbsp;</div>


<div class='footer'>footer</div>
                
{% endblock %}


















